{% extends 'base.html' %}


{% block contenido %}
    <div class="login-container">
        <h2>Iniciar Sesion</h2>
        <form method = "post"> {% csrf_token %}
            

            {{ form.as_p }}

            <button type="submit" class="custom-button">Iniciar Sesion</button>
            <button type="button" onclick="window.location.href='{% url "usuarios:registrarse" %}'" class="custom-button">Registrarse</button>
           


        </form>
        

    </div> 
{% endblock contenido %}